{{- $codespaces:= env "CODESPACES" | not | not -}}
[tools]
neovim = 'stable'

{{- if not $codespaces }}
yarn = 'latest'
node = 'lts'
python = ['3.11', '3.12']
ruby = ['2.7', '3.2']
pipx = 'latest'
{{- end }}

# Tools not managed with Brew
{{- if ne .chezmoi.os "darwin" }}
bat = 'latest'
cosign = 'latest'
dust = 'latest'
fd = 'latest'
fzf = 'latest'
github-cli = 'latest'
hadolint = 'latest'
lazygit = 'latest'
lsd = 'latest'
ripgrep = 'latest'
shellcheck = 'latest'
yq = 'latest'
zoxide = 'latest'

{{ if not $codespaces }}
act = 'latest'
chezmoi = 'latest'
dive = 'latest'
git = 'latest'
jq = '1.6'
zellij = 'latest'
{{- end }}

{{- end }}

[settings]
plugin_autoupdate_last_check_duration = '1 day'
asdf_compat = true

